<a href="https://colab.research.google.com/github/Abijith-B/Git-hub-Data/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Practice Problems – Python Basics

#PDF 1

1. Write a Python program that takes an integer as input and calculates the
sum of its digits

In [ ]:
num = int(input("Enter any two digit number: "))
total_sum = 0

temp = abs(num) # helps to change negative number to positive
while temp > 0:
  digit = temp % 10
  total_sum += digit
  temp //= 10
print(f"sum of digit: {total_sum}")

Enter any two digit number: 34
sum of digit: 7

2. Create a Python program to calculate the factorial of a given number using
a function

In [ ]:
def fact(n):
  result = 1
  for i in range(1,n+1):
    result *= i
  return result


num = int(input("Enter the number:"))
print(f"factorial of num: {fact(num)}")

Enter the number:4
factorial of num: 24

3. Develop a Python program that checks whether a given word or phrase is a
palindrome.

In [ ]:
def palindrome(text):
  text = text.replace(" ","").lower()
  return text == text[::-1]

word= input("Enter the word: ")

if palindrome(word):
  print("It is palindrome")
else:
  print("It is not palindrome")

Enter the word: malayalam
It is palindrome

4. Create a Python program that takes a sentence as input and counts the
number of vowels and consonants.

In [ ]:
sentence = input("Enter a word or sentence : ")
vowels ="aeiou"
t_vowels = 0
t_consonats = 0
for char in sentence.lower():
  if char.isalpha(): # aplha ignore space and takes only letters
    if char in vowels:
      t_vowels += 1
    else:
      t_consonats += 1
print(f"Total numbers of vowels and consonats: {t_vowels} , {t_consonats}")

Enter a word or sentence : Administrator
Total numbers of vowels and consonats: 5 , 8

5. Develop a Python program that takes two lists as input and returns a new
list containing the common elements between them.

In [ ]:
a_list = input("Enter first list: ").split(",")
b_list = input("Enter second list: ")

n_list=[]

for char in a_list:
  if char in b_list:
    n_list.append(char)
print(f"the new list is: {n_list}")

Enter first list: 1,2,3,4,5,6
Enter second list: 4,5,6,3,7,8
the new list is: ['3', '4', '5', '6']

6. Write a Python program that takes a string as input and counts the
frequency of each character in the string.

In [ ]:
text = input("Enter the Details:")

frequency = {}

for ch in text:
  if ch in frequency:
    frequency[ch] += 1
  else:
    frequency[ch] = 1
for char, count in frequency.items():
    print(char, ":", count)

Enter the Details:Frequency
F : 1
r : 1
e : 2
q : 1
u : 1
n : 1
c : 1
y : 1

7. Develop a Python program that checks if a given year is a leap year.

In [ ]:
year = int(input("Enter a year: "))
if (year % 4 == 0):
    if (year % 100 == 0):
        if (year % 400 == 0):
            print(year, "is a leap year.")
        else:
            print(year, "is not a leap year.")
    else:
        print(year, "is a leap year.")
else:
    print(year, "is not a leap year.")

Enter a year: 2028
2028 is a leap year.

8. Write a Python program that checks if a given number, is a prime number.

In [ ]:
num = int(input("Enter the number: "))
if num > 1:
  prime = True
  for i in range(2,num):
    if num % i == 0:
      prime = False
      break
  if prime:
    print("The num is prime number")
  else:
      print("The number is not prime")
else:
  print("enter the number greater than 1")

Enter the number: 31
The num is prime number

9. Write a Python program to generate the Fibonacci sequence up to a
specified number of terms.

In [ ]:
def fib(n):
    a, b = 0, 1
    for i in range(n):
        print(a, end=" ")
        a, b = b, a + b

num = int(input("Enter the number of terms: "))
fib(num)

Enter the number of terms: 7
0 1 1 2 3 5 8

10. Write a python program to find the roots of a quadratic equation

In [ ]:
a = float(input("Enter coefficient a: "))
b = float(input("Enter coefficient b: "))
c = float(input("Enter coefficient c: "))

D = b**2 - 4*a*c

if D > 0:
    root1 = (-b + (D ** 0.5)) / (2 * a)
    root2 = (-b - (D ** 0.5)) / (2 * a)
    print("Two real roots:", root1, "and", root2)

elif D == 0:
    root = -b / (2 * a)
    print("One real root:", root)

else:
    real = -b / (2 * a)
    imaginary = ((-D) ** 0.5) / (2 * a)
    print("Complex roots:")
    print(f"{real} + {imaginary}i")
    print(f"{real} - {imaginary}i")

Enter coefficient a: 1
Enter coefficient b: 2
Enter coefficient c: -3
Two real roots: 1.0 and -3.0

  ..........................................................................................................................................................................................................................................

#PDF 2

1. Write a Python program to accept a string value from the user and display
the count of each character in that string. Sample input: Enter a string
value: assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1

In [ ]:
string = input("Enter a string value: ")

S_count = {}

for char in string:
  if char == " ":
    continue
  elif char in S_count:
    S_count[char] += 1
  else:
    S_count[char] = 1
for char, count in S_count.items():
  print(char, ":", count)

Enter a string value: determination
d : 1
e : 2
t : 2
r : 1
m : 1
i : 2
n : 2
a : 1
o : 1

2. . Write a Python function to find the maximum of three numbers Sample
input: 34,12,7 Sample output: 34

In [ ]:
def n_max(a,b,c):
  return max(a,b,c)
num1= 35
num2= 19
num3= 56

result = n_max(num1,num2,num3)
print(result)

56

3. Write a Python function called exponent(base,exp) that returns an
integer value of base raises to the power of exp. Sample input: Enter the
base: 2 Enter the exponent: 3 Sample output: 8

In [ ]:
def exponent(base,exp):
  return base**exp

base_n = int(input("Enter the base: "))
exp_n = int(input("Enter the exponent: "))
print(f"output : {exponent(base_n,exp_n)}")

Enter the base: 3
Enter the exponent: 4
output : 81

4. Write a Python function that takes a positive integer and returns the sum
of the cube of all the positive integers smaller than the specified number.
Sample input: 4 Sample output: 36.

In [ ]:
def p_int(n):
  result = 0
  for i in range(1,n):
    num = i**3
    result += num
  return result

p_num = int(input("Enter the number "))
print(f"Output: {p_int(p_num)}")

Enter the number 5
Output: 100

5. Write a Python program which iterates from 1 to 10. For multiples of 2,
print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
For numbers which are multiples of both 2 and 5, print “FizzBuzz”.
Sample input: numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz
Fizz 7 Fizz 9 FizzBuzz

6. Write a Python program to find the most frequent item in a list of
numbers. Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2

In [ ]:
freq_num = input("Enter the numbers separated by commas: ")
num_list = list(map(int, freq_num.split(",")))# Convert input into list of integers

frequency = {}

for n in num_list:
    if n in frequency:
        frequency[n] += 1
    else:
        frequency[n] = 1
most_frequent = max(frequency, key=frequency.get)

print("Most frequent number is:", most_frequent)

Enter the numbers separated by commas: 1,2,3,4,5,4,6,7
Most frequent number is: 4

7. Write a Python program to find the sum of squares of the numbers in a
list. Sample input: 2,1,3,1 Sample output: 15

In [ ]:
def s_square(n):
  result = 0
  for i in n:
    num = i**2
    result += num
  return result
num = input("Enter the numbers using commas: ")
num_list = list(map(int, num.split(",")))
print(f"output: {s_square(num_list)}")

Enter the numbers using commas: 2,3,4,5
output: 54

8. Write a Python program using for loop that will iterate from 1 to 15. For
each iteration, check if the current number is odd or even, and display the
message to the screen as odd or even. Sample input: 1….15 Sample
output: 1-odd 2-even …. 15-odd

In [ ]:
for i in range(1, 16):
  if  i % 2 != 0:
    print(f"{i} is odd")
  else:
    print(f"{i} is even")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd

9. Write a Python program to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit
=41 Sample output: Temperature in Celsius =5

In [ ]:
f = int(input("Temperature in Fahrenheit : "))
C = (f - 32) * 5 / 9

print(f"Temperature in Celsius: {C}")

Temperature in Fahrenheit : 68
Temperature in Celsius: 20.0

10. Write a Python function to calculate the factorial of a number (a
nonnegative integer). The function accepts the number as an argument.
Sample input: 3 Sample output: 6

In [ ]:
def fact(n):
  result = 1
  for i in range(1,n+1):
    result *= i
  return result

num=int(input("Enter the number: "))
print(f"The factorial of number: {fact(num)}")

Enter the number: 5
The factorial of number: 120

................................................................................................................................................................................................................................................

#pdf 3

1. Write a Python program which accepts the radius of a circle from the user
and compute the area.
Sample input: Enter the radius: 3
Sample output: Area of Circle is 28.59999999999

In [ ]:
r = int(input("Enter the radius: "))
pi = 3.141
area = pi*r**2
print(f"Area of the circle is: {area}")

Enter the radius: 5
Area of the circle is: 78.525

2. Write a Python Program to accept the details of a student like name, roll
number and mark and display it.
Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output: Name: Anisha
Roll No: 21
Mark: 78

In [ ]:
name = input("Enter the name : ")
roll_n = int(input("Enter the roll number:"))
mark = int(input("Enter the mark: "))
print(f"Name: {name} \n Roll no:{roll_n} \n Mark:{mark}")

Enter the name : Anisha
Enter the roll number: 21
Enter the mark:  78
Name: Anisha
 Roll no:21
 Mark:78

3. Write a Python program to get the largest number from a list.
Sample input: 12, 3, 47, 10
Sample output: 47 is the largest number.

In [ ]:
num = [18, 3, 7, 15]
l_num = max(num)
print(f"{l_num} is the largest num")

18 is the largest num

4. Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.
Sample input: 1….10
Sample output: Current Number 1 Previous Number 0 Sum: 1 Current
Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous
Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 19

In [ ]:
result = 0

for num in range(1,11):
  sum_n = num + result
  print(f"Current number: {num}, previous num : {result}, sum : {sum_n}")
  result = num

Current number: 1, previous num : 0, sum : 1
Current number: 2, previous num : 1, sum : 3
Current number: 3, previous num : 2, sum : 5
Current number: 4, previous num : 3, sum : 7
Current number: 5, previous num : 4, sum : 9
Current number: 6, previous num : 5, sum : 11
Current number: 7, previous num : 6, sum : 13
Current number: 8, previous num : 7, sum : 15
Current number: 9, previous num : 8, sum : 17
Current number: 10, previous num : 9, sum : 19

5. Write a Python program to print only those numbers which are divisible
of 5.
Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55

In [ ]:
def division_num(n):
  result = []
  for i in n:
    if i % 5 == 0:
      result.append(i)
  return result

num = input("Enter the numbers: ")
d_num = list(map(int,num.split(",")))
print(f"output: {division_num(d_num)}")

Enter the numbers: 10,16,14,15,23,26,25,55
output: [10, 15, 25, 55]

6. Write a Python program to check whether a number is prime or not.
Sample input: Enter the number: 3
Sample output: 3 is a prime number

In [ ]:
num = int(input("Enter the number: "))

if num > 1:
  for i in range(2,num):
    if num % i == 0:
      print(f"{num} number is not prime")
      break
  else:
    print(f"{num} is prime")
else:
  print("It is not prime")

Enter the number: 31
31 is prime

7. Write a Python program to reverse a list using for loop.
Sample input: 10,40,30,70
Sample output: 70,30,40,10

In [ ]:
num = input("Enter the numbers: ")
lst = list(map(int, num.split(",")))

reversed_list = []

for i in range(len(lst)-1, -1, -1):
    reversed_list.append(lst[i])

print("Reversed List:", reversed_list)

Enter the numbers: 10,20,30,40,50,60,70
Reversed List: [70, 60, 50, 40, 30, 20, 10]

8. Write a Python program to print the following pattern.
#*
#**
#***
#****

In [ ]:
for i in range(1,5):
  print("*" * i)

*
**
***
****

9. Write a Python program to find the maximum of three numbers
Sample input: 34,12,7
Sample output: 34

In [ ]:
num = input("Enter the numbers: ")
i_num = list(map(int,num.split(",")))
max_n = max(i_num)
print(f"Output: {max_n}")

Enter the numbers: 10,56,47,81
Output: 81

10. Write a Python program to construct the following pattern, using anested for loop.
# *
# **
# ***
# ****
# *****
# ****
# ***
# **
# *

In [ ]:
for i in range(1,6):
  print("*" * i)

for i in range(4,0,-1):
  print("*" *i)

*
**
***
****
*****
****
***
**
*