<a href="https://colab.research.google.com/github/Abijith-B/Git-hub-Data/blob/main/Dat_Aquasition_Casestudy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#QN 1
● Use https://api.spacexdata.com/v4/launches


● Extract relevant columns: name, date_utc, success, details, rocket


● Convert date_utc to datetime and extract the year

In [ ]:
import requests
import pandas as pd
import numpy as np
import sqlite3

In [ ]:
url = "https://api.spacexdata.com/v4/launches"# Load SpaceX launch data from API
data = requests.get(url)
data1 = data.json()

df = pd.DataFrame(data1, columns=["name", "date_utc", "success", "details", "rocket"])# Create a DataFrame with required columns
print(df)

                       name                  date_utc success  \
0                 FalconSat  2006-03-24T22:30:00.000Z   False
1                   DemoSat  2007-03-21T01:10:00.000Z   False
2               Trailblazer  2008-08-03T03:34:00.000Z   False
3                    RatSat  2008-09-28T23:15:00.000Z    True
4                  RazakSat  2009-07-13T03:35:00.000Z    True
..                      ...                       ...     ...
200           Transporter-6  2022-12-01T00:00:00.000Z    None
201                   TTL-1  2022-12-01T00:00:00.000Z    None
202  WorldView Legion 1 & 2  2022-12-01T00:00:00.000Z    None
203     Viasat-3 & Arcturus  2022-12-01T00:00:00.000Z    None
204          O3b mPower 3.4  2022-12-01T00:00:00.000Z    None

                                               details  \
0     Engine failure at 33 seconds and loss of vehicle
1    Successful first stage burn and transition to ...
2    Residual stage 1 thrust led to collision betwe...
3    Ratsat was carried to orbit on the first succe...
4                                                 None
..                                                 ...
200                                               None
201                                               None
202                                               None
203                                               None
204                                               None

                       rocket
0    5e9d0d95eda69955f709d1eb
1    5e9d0d95eda69955f709d1eb
2    5e9d0d95eda69955f709d1eb
3    5e9d0d95eda69955f709d1eb
4    5e9d0d95eda69955f709d1eb
..                        ...
200  5e9d0d95eda69973a809d1ec
201  5e9d0d95eda69973a809d1ec
202  5e9d0d95eda69973a809d1ec
203  5e9d0d95eda69974db09d1ed
204  5e9d0d95eda69973a809d1ec

[205 rows x 5 columns]

In [ ]:
df["date_utc"] = pd.to_datetime(df["date_utc"])# Convert date_utc to datetime format
df["year"] = df["date_utc"].dt.year# Extract year from the date
print(df)

                       name                  date_utc success  \
0                 FalconSat 2006-03-24 22:30:00+00:00   False
1                   DemoSat 2007-03-21 01:10:00+00:00   False
2               Trailblazer 2008-08-03 03:34:00+00:00   False
3                    RatSat 2008-09-28 23:15:00+00:00    True
4                  RazakSat 2009-07-13 03:35:00+00:00    True
..                      ...                       ...     ...
200           Transporter-6 2022-12-01 00:00:00+00:00    None
201                   TTL-1 2022-12-01 00:00:00+00:00    None
202  WorldView Legion 1 & 2 2022-12-01 00:00:00+00:00    None
203     Viasat-3 & Arcturus 2022-12-01 00:00:00+00:00    None
204          O3b mPower 3.4 2022-12-01 00:00:00+00:00    None

                                               details  \
0     Engine failure at 33 seconds and loss of vehicle
1    Successful first stage burn and transition to ...
2    Residual stage 1 thrust led to collision betwe...
3    Ratsat was carried to orbit on the first succe...
4                                                 None
..                                                 ...
200                                               None
201                                               None
202                                               None
203                                               None
204                                               None

                       rocket  year
0    5e9d0d95eda69955f709d1eb  2006
1    5e9d0d95eda69955f709d1eb  2007
2    5e9d0d95eda69955f709d1eb  2008
3    5e9d0d95eda69955f709d1eb  2008
4    5e9d0d95eda69955f709d1eb  2009
..                        ...   ...
200  5e9d0d95eda69973a809d1ec  2022
201  5e9d0d95eda69973a809d1ec  2022
202  5e9d0d95eda69973a809d1ec  2022
203  5e9d0d95eda69974db09d1ed  2022
204  5e9d0d95eda69973a809d1ec  2022

[205 rows x 6 columns]


#QN 2
● Use https://api.spacexdata.com/v4/rockets


● Extract id, name, type, active, and stages

In [ ]:
url = "https://api.spacexdata.com/v4/rockets"
rocket_data = requests.get(url).json()
rocket_df = pd.DataFrame(rocket_data, columns=["id", "name", "type", "active", "stages"])

print(rocket_df)

                         id          name    type  active  stages
0  5e9d0d95eda69955f709d1eb      Falcon 1  rocket   False       2
1  5e9d0d95eda69973a809d1ec      Falcon 9  rocket    True       2
2  5e9d0d95eda69974db09d1ed  Falcon Heavy  rocket    True       2
3  5e9d0d96eda699382d09d1ee      Starship  rocket   False       2

#QN 3

● Join the two DataFrames on rocket ID using

In [ ]:
merge_df = pd.DataFrame(df.merge(rocket_df, left_on="rocket", right_on="id"))
merge_df

,name_x,date_utc,success,details,rocket,year,id,name_y,type,active,stages
0,FalconSat,2006-03-24 22:30:00+00:00,False,Engine failure at 33 seconds and loss of vehicle,5e9d0d95eda69955f709d1eb,2006,5e9d0d95eda69955f709d1eb,Falcon 1,rocket,False,2
1,DemoSat,2007-03-21 01:10:00+00:00,False,Successful first stage burn and transition to ...,5e9d0d95eda69955f709d1eb,2007,5e9d0d95eda69955f709d1eb,Falcon 1,rocket,False,2
2,Trailblazer,2008-08-03 03:34:00+00:00,False,Residual stage 1 thrust led to collision betwe...,5e9d0d95eda69955f709d1eb,2008,5e9d0d95eda69955f709d1eb,Falcon 1,rocket,False,2
3,RatSat,2008-09-28 23:15:00+00:00,True,Ratsat was carried to orbit on the first succe...,5e9d0d95eda69955f709d1eb,2008,5e9d0d95eda69955f709d1eb,Falcon 1,rocket,False,2
4,RazakSat,2009-07-13 03:35:00+00:00,True,None,5e9d0d95eda69955f709d1eb,2009,5e9d0d95eda69955f709d1eb,Falcon 1,rocket,False,2
...,...,...,...,...,...,...,...,...,...,...,...
200,Transporter-6,2022-12-01 00:00:00+00:00,None,None,5e9d0d95eda69973a809d1ec,2022,5e9d0d95eda69973a809d1ec,Falcon 9,rocket,True,2
201,TTL-1,2022-12-01 00:00:00+00:00,None,None,5e9d0d95eda69973a809d1ec,2022,5e9d0d95eda69973a809d1ec,Falcon 9,rocket,True,2
202,WorldView Legion 1 & 2,2022-12-01 00:00:00+00:00,None,None,5e9d0d95eda69973a809d1ec,2022,5e9d0d95eda69973a809d1ec,Falcon 9,rocket,True,2
203,Viasat-3 & Arcturus,2022-12-01 00:00:00+00:00,None,None,5e9d0d95eda69974db09d1ed,2022,5e9d0d95eda69974db09d1ed,Falcon Heavy,rocket,True,2
204,O3b mPower 3.4,2022-12-01 00:00:00+00:00,None,None,5e9d0d95eda69973a809d1ec,2022,5e9d0d95eda69973a809d1ec,Falcon 9,rocket,True,2

#QN4

● Add a new column country and randomly assign one of these values:
['USA', 'Russia', 'India', 'China', 'France']

In [ ]:
countries = ['USA', 'Russia', 'India', 'China', 'France']
merge_df["country"] = np.random.choice(countries, size=len(merge_df))

merge_df

,name_x,date_utc,success,details,rocket,year,id,name_y,type,active,stages,country
0,FalconSat,2006-03-24 22:30:00+00:00,False,Engine failure at 33 seconds and loss of vehicle,5e9d0d95eda69955f709d1eb,2006,5e9d0d95eda69955f709d1eb,Falcon 1,rocket,False,2,China
1,DemoSat,2007-03-21 01:10:00+00:00,False,Successful first stage burn and transition to ...,5e9d0d95eda69955f709d1eb,2007,5e9d0d95eda69955f709d1eb,Falcon 1,rocket,False,2,USA
2,Trailblazer,2008-08-03 03:34:00+00:00,False,Residual stage 1 thrust led to collision betwe...,5e9d0d95eda69955f709d1eb,2008,5e9d0d95eda69955f709d1eb,Falcon 1,rocket,False,2,Russia
3,RatSat,2008-09-28 23:15:00+00:00,True,Ratsat was carried to orbit on the first succe...,5e9d0d95eda69955f709d1eb,2008,5e9d0d95eda69955f709d1eb,Falcon 1,rocket,False,2,Russia
4,RazakSat,2009-07-13 03:35:00+00:00,True,None,5e9d0d95eda69955f709d1eb,2009,5e9d0d95eda69955f709d1eb,Falcon 1,rocket,False,2,China
...,...,...,...,...,...,...,...,...,...,...,...,...
200,Transporter-6,2022-12-01 00:00:00+00:00,None,None,5e9d0d95eda69973a809d1ec,2022,5e9d0d95eda69973a809d1ec,Falcon 9,rocket,True,2,Russia
201,TTL-1,2022-12-01 00:00:00+00:00,None,None,5e9d0d95eda69973a809d1ec,2022,5e9d0d95eda69973a809d1ec,Falcon 9,rocket,True,2,China
202,WorldView Legion 1 & 2,2022-12-01 00:00:00+00:00,None,None,5e9d0d95eda69973a809d1ec,2022,5e9d0d95eda69973a809d1ec,Falcon 9,rocket,True,2,France
203,Viasat-3 & Arcturus,2022-12-01 00:00:00+00:00,None,None,5e9d0d95eda69974db09d1ed,2022,5e9d0d95eda69974db09d1ed,Falcon Heavy,rocket,True,2,USA
204,O3b mPower 3.4,2022-12-01 00:00:00+00:00,None,None,5e9d0d95eda69973a809d1ec,2022,5e9d0d95eda69973a809d1ec,Falcon 9,rocket,True,2,China

#QN 5

● Use sqlite3 to create a connection and save the merged DataFrame as a table named launches


● Table should contain all merged columns including country

In [ ]:
conn = sqlite3.connect("spacex.db")
merge_df.to_sql("launches", conn, if_exists="replace", index=False)
conn.close()
merge_df

,name_x,date_utc,success,details,rocket,year,id,name_y,type,active,stages,country
0,FalconSat,2006-03-24 22:30:00+00:00,False,Engine failure at 33 seconds and loss of vehicle,5e9d0d95eda69955f709d1eb,2006,5e9d0d95eda69955f709d1eb,Falcon 1,rocket,False,2,China
1,DemoSat,2007-03-21 01:10:00+00:00,False,Successful first stage burn and transition to ...,5e9d0d95eda69955f709d1eb,2007,5e9d0d95eda69955f709d1eb,Falcon 1,rocket,False,2,USA
2,Trailblazer,2008-08-03 03:34:00+00:00,False,Residual stage 1 thrust led to collision betwe...,5e9d0d95eda69955f709d1eb,2008,5e9d0d95eda69955f709d1eb,Falcon 1,rocket,False,2,Russia
3,RatSat,2008-09-28 23:15:00+00:00,True,Ratsat was carried to orbit on the first succe...,5e9d0d95eda69955f709d1eb,2008,5e9d0d95eda69955f709d1eb,Falcon 1,rocket,False,2,Russia
4,RazakSat,2009-07-13 03:35:00+00:00,True,None,5e9d0d95eda69955f709d1eb,2009,5e9d0d95eda69955f709d1eb,Falcon 1,rocket,False,2,China
...,...,...,...,...,...,...,...,...,...,...,...,...
200,Transporter-6,2022-12-01 00:00:00+00:00,None,None,5e9d0d95eda69973a809d1ec,2022,5e9d0d95eda69973a809d1ec,Falcon 9,rocket,True,2,Russia
201,TTL-1,2022-12-01 00:00:00+00:00,None,None,5e9d0d95eda69973a809d1ec,2022,5e9d0d95eda69973a809d1ec,Falcon 9,rocket,True,2,China
202,WorldView Legion 1 & 2,2022-12-01 00:00:00+00:00,None,None,5e9d0d95eda69973a809d1ec,2022,5e9d0d95eda69973a809d1ec,Falcon 9,rocket,True,2,France
203,Viasat-3 & Arcturus,2022-12-01 00:00:00+00:00,None,None,5e9d0d95eda69974db09d1ed,2022,5e9d0d95eda69974db09d1ed,Falcon Heavy,rocket,True,2,USA
204,O3b mPower 3.4,2022-12-01 00:00:00+00:00,None,None,5e9d0d95eda69973a809d1ec,2022,5e9d0d95eda69973a809d1ec,Falcon 9,rocket,True,2,China

#QN 6
1. Launches by Country

2. Which year had the highest number of launches?

3. Top 5 Missions by Launch Count

4. Top Missions by rocket Count

In [ ]:
conn = sqlite3.connect('spacex.db')

query = """
SELECT country, COUNT(*) AS launch_count
FROM launches
GROUP BY country
ORDER BY launch_count DESC;
"""
df_country = pd.read_sql_query(query, conn)
df_country

  country  launch_count
0     USA            47
1   India            43
2   China            42
3  France            38
4  Russia            35

In [ ]:
query = """
SELECT year, COUNT(*) AS launch_count
FROM launches
GROUP BY year
ORDER BY launch_count DESC
LIMIT 1;
"""
df_top_year = pd.read_sql_query(query, conn)
df_top_year

   year  launch_count
0  2022            62

In [ ]:
query = """
SELECT name_x, COUNT(*) AS launch_count
FROM launches
GROUP BY name_x
ORDER BY launch_count DESC
LIMIT 5;
"""

df_top_missions = pd.read_sql_query(query, conn)
df_top_missions

         name_y  launch_count
0      Falcon 9           195
1  Falcon Heavy             5
2      Falcon 1             5

In [ ]:
query = """
SELECT name_y, COUNT(*) AS launch_count
FROM launches
GROUP BY name_y
ORDER BY launch_count DESC
LIMIT 1;
"""

df_top_missions = pd.read_sql_query(query, conn)
df_top_missions

     name_y  launch_count
0  Falcon 9           195