<a href="https://colab.research.google.com/github/Abijith-B/Git-hub-Data/blob/main/Preprocessing__Casestudy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy  as np
import pandas as pd

#Data Overview

In [ ]:
house_price=pd.read_csv('/content/House_Pricing.csv')
house_price.head()

,ID,Date House was Sold,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,...,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
0,7129300520,14 October 2017,221900.0,3,1.00,1180.0,5650.0,1.0,No,NaN,...,7.0,1180.0,0.0,63.0,0.0,98178.0,47.5112,-122.257,1340.0,5650.0
1,6414100192,14 December 2017,538000.0,3,2.25,2570.0,7242.0,2.0,No,NaN,...,7.0,2170.0,400.0,67.0,1991.0,98125.0,47.7210,-122.319,1690.0,7639.0
2,5631500400,15 February 2016,180000.0,2,1.00,770.0,10000.0,1.0,No,NaN,...,6.0,770.0,0.0,85.0,0.0,98028.0,47.7379,-122.233,2720.0,8062.0
3,2487200875,14 December 2017,604000.0,4,3.00,1960.0,5000.0,1.0,No,NaN,...,7.0,1050.0,910.0,53.0,0.0,98136.0,47.5208,-122.393,1360.0,5000.0
4,1954400510,15 February 2016,510000.0,3,2.00,1680.0,8080.0,1.0,No,NaN,...,8.0,1680.0,0.0,31.0,0.0,98074.0,47.6168,-122.045,1800.0,7503.0

In [ ]:
house_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18457 entries, 0 to 18456
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         18457 non-null  int64
 1   Date House was Sold                        18457 non-null  object
 2   Sale Price                                 18455 non-null  float64
 3   No of Bedrooms                             18457 non-null  int64
 4   No of Bathrooms                            18455 non-null  float64
 5   Flat Area (in Sqft)                        18451 non-null  float64
 6   Lot Area (in Sqft)                         18448 non-null  float64
 7   No of Floors                               18457 non-null  float64
 8   Waterfront View                            18457 non-null  object
 9   No of Times Visited                        1881 non-null   object
 10  Condition of the House                     18456 non-null  object
 11  Overall Grade                              18456 non-null  float64
 12  Area of the House from Basement (in Sqft)  18453 non-null  float64
 13  Basement Area (in Sqft)                    18456 non-null  float64
 14  Age of House (in Years)                    18456 non-null  float64
 15  Renovated Year                             18456 non-null  float64
 16  Zipcode                                    18455 non-null  float64
 17  Latitude                                   18455 non-null  float64
 18  Longitude                                  18455 non-null  float64
 19  Living Area after Renovation (in Sqft)     18455 non-null  float64
 20  Lot Area after Renovation (in Sqft)        18456 non-null  float64
dtypes: float64(15), int64(2), object(4)
memory usage: 3.0+ MB

In [ ]:
house_price.describe()

,ID,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
count,1.845700e+04,1.845500e+04,18457.000000,18455.000000,18451.000000,1.844800e+04,18457.000000,18456.000000,18453.000000,18456.000000,18456.000000,18456.000000,18455.000000,18455.000000,18455.000000,18455.000000,18456.000000
mean,4.570511e+09,5.336770e+05,3.362410,2.062165,2051.737304,1.577147e+04,1.433169,7.559222,1749.730396,302.069408,50.739705,90.835392,98078.077594,47.560300,-122.215222,1972.655541,13295.619040
std,2.860382e+09,3.655648e+05,0.934309,0.759834,903.746352,4.237912e+04,0.509836,1.100609,806.411692,449.250381,27.967304,416.001110,54.084712,0.139692,0.139174,673.190869,27390.332085
min,1.000102e+06,7.500000e+04,0.000000,0.000000,370.000000,5.200000e+02,1.000000,2.000000,370.000000,0.000000,3.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,660.000000
25%,2.124079e+09,3.150000e+05,3.000000,1.500000,1410.000000,5.445000e+03,1.000000,7.000000,1180.000000,0.000000,28.000000,0.000000,98033.000000,47.465800,-122.327000,1490.000000,5411.750000
50%,3.914000e+09,4.470000e+05,3.000000,2.000000,1890.000000,7.902000e+03,1.000000,7.000000,1530.000000,0.000000,49.000000,0.000000,98065.000000,47.573200,-122.231000,1830.000000,7810.000000
75%,7.287100e+09,6.360000e+05,4.000000,2.500000,2500.000000,1.109850e+04,2.000000,8.000000,2130.000000,600.000000,69.000000,0.000000,98118.000000,47.679250,-122.127000,2330.000000,10324.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,10.000000,9410.000000,4820.000000,118.000000,2015.000000,98199.000000,47.777600,-121.315000,6110.000000,871200.000000

#Duplicate Removal

In [ ]:
duplicate_count=house_price.duplicated().sum()
print('total number of duplicate rows are',duplicate_count)

total number of duplicate rows are 0

In [ ]:
duplicate_count=house_price.T.duplicated()
print(duplicate_count)

ID                                           False
Date House was Sold                          False
Sale Price                                   False
No of Bedrooms                               False
No of Bathrooms                              False
Flat Area (in Sqft)                          False
Lot Area (in Sqft)                           False
No of Floors                                 False
Waterfront View                              False
No of Times Visited                          False
Condition of the House                       False
Overall Grade                                False
Area of the House from Basement (in Sqft)    False
Basement Area (in Sqft)                      False
Age of House (in Years)                      False
Renovated Year                               False
Zipcode                                      False
Latitude                                     False
Longitude                                    False
Living Area after Renovation (in Sqft)       False
Lot Area after Renovation (in Sqft)          False
dtype: bool

#Handling Missing Values

In [ ]:
column_missing_value=house_price.isnull().sum()
print(column_missing_value)

ID                                               0
Date House was Sold                              0
Sale Price                                       2
No of Bedrooms                                   0
No of Bathrooms                                  2
Flat Area (in Sqft)                              6
Lot Area (in Sqft)                               9
No of Floors                                     0
Waterfront View                                  0
No of Times Visited                          16576
Condition of the House                           1
Overall Grade                                    1
Area of the House from Basement (in Sqft)        4
Basement Area (in Sqft)                          1
Age of House (in Years)                          1
Renovated Year                                   1
Zipcode                                          2
Latitude                                         2
Longitude                                        2
Living Area after Renovation (in Sqft)           2
Lot Area after Renovation (in Sqft)              1
dtype: int64

In [ ]:
numerical_values=house_price.select_dtypes(include=['int64','float64'])
house_price[numerical_values.columns]=numerical_values.fillna(numerical_values.median())
house_price[numerical_values.columns].isnull().sum()

ID                                           0
Sale Price                                   0
No of Bedrooms                               0
No of Bathrooms                              0
Flat Area (in Sqft)                          0
Lot Area (in Sqft)                           0
No of Floors                                 0
Overall Grade                                0
Area of the House from Basement (in Sqft)    0
Basement Area (in Sqft)                      0
Age of House (in Years)                      0
Renovated Year                               0
Zipcode                                      0
Latitude                                     0
Longitude                                    0
Living Area after Renovation (in Sqft)       0
Lot Area after Renovation (in Sqft)          0
dtype: int64

In [ ]:
house_price['No of Times Visited'] = house_price['No of Times Visited'].fillna(house_price['No of Times Visited'].mode()[0])
house_price['No of Times Visited'].isnull().sum()

np.int64(0)

In [ ]:
cate_values=house_price.select_dtypes(include=['object'])
house_price[cate_values.columns]=cate_values.fillna(cate_values.mode())
house_price[cate_values.columns].isnull().sum()

Date House was Sold       0
Waterfront View           0
No of Times Visited       0
Condition of the House    1
dtype: int64

#Outlier Removal

In [ ]:
num_cols = house_price.select_dtypes(include=["int64", "float64"]).columns

outlier_summary = {}

for col in num_cols:
    Q1 = house_price[col].quantile(0.25)
    Q3 = house_price[col].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers = house_price[(house_price [col] < lower_bound) | (house_price [col] > upper_bound)]
    outlier_summary[col] = outliers.shape[0]

outlier_summary

{'ID': 0,
 'Sale Price': 970,
 'No of Bedrooms': 485,
 'No of Bathrooms': 208,
 'Flat Area (in Sqft)': 508,
 'Lot Area (in Sqft)': 2166,
 'No of Floors': 0,
 'Overall Grade': 1575,
 'Area of the House from Basement (in Sqft)': 626,
 'Basement Area (in Sqft)': 314,
 'Age of House (in Years)': 0,
 'Renovated Year': 840,
 'Zipcode': 0,
 'Latitude': 0,
 'Longitude': 225,
 'Living Area after Renovation (in Sqft)': 505,
 'Lot Area after Renovation (in Sqft)': 1975}

In [ ]:
features_to_clean = [
    "Sale Price",
    "Flat Area (in Sqft)",
    "Lot Area (in Sqft)",
    "Living Area after Renovation (in Sqft)",
    "Lot Area after Renovation (in Sqft)"
]

# Apply IQR-based outlier removal
House_Pricing_cleaned = house_price.copy()

for col in features_to_clean:
    Q1 = House_Pricing_cleaned[col].quantile(0.25)
    Q3 = House_Pricing_cleaned[col].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    House_Pricing_cleaned = House_Pricing_cleaned[
        (House_Pricing_cleaned [col] >= lower_bound) &
        (House_Pricing_cleaned [col] <= upper_bound)
    ]

# Dataset size comparison
print("Original shape:", house_price.shape)
print("After outlier removal:", House_Pricing_cleaned.shape)

Original shape: (18457, 21)
After outlier removal: (14611, 21)

#Scaling Numerical Variables

In [ ]:
from sklearn.preprocessing import StandardScaler

num_features = [
    col for col in House_Pricing_cleaned.columns
    if col != "Sale Price" and House_Pricing_cleaned[col].dtype in ["int64", "float64"]
]

print("Numerical features to scale:")
print(num_features)

scaler = StandardScaler()

House_Pricing_cleaned[num_features] = scaler.fit_transform(
    House_Pricing_cleaned[num_features]
)

print("Scaling completed successfully")

Numerical features to scale:
['ID', 'No of Bedrooms', 'No of Bathrooms', 'Flat Area (in Sqft)', 'Lot Area (in Sqft)', 'No of Floors', 'Overall Grade', 'Area of the House from Basement (in Sqft)', 'Basement Area (in Sqft)', 'Age of House (in Years)', 'Renovated Year', 'Zipcode', 'Latitude', 'Longitude', 'Living Area after Renovation (in Sqft)', 'Lot Area after Renovation (in Sqft)']
Scaling completed successfully

In [ ]:
num_feature = [
    col for col in House_Pricing_cleaned.columns
    if col != "Sale Price" and House_Pricing_cleaned[col].dtype in ["int64", "float64"]
]

# Apply Standard Scaling
standard_scaler = StandardScaler()
House_Pricing_cleaned[num_features] = standard_scaler.fit_transform(
    House_Pricing_cleaned[num_features]
)
print("Standard scaling applied successfully")

House_Pricing_cleaned[num_feature].head()

Standard scaling applied successfully

,ID,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
0,0.834573,-0.303364,-1.399420,-1.007386,-0.522314,-0.783481,-0.370046,-0.637818,-0.685214,0.357067,-0.200185,1.736638,-0.360308,-0.172406,-0.918128,-0.534472
1,0.583876,-0.303364,0.463524,1.173582,-0.014359,1.203577,-0.370046,1.052495,0.335170,0.498227,4.982606,0.769221,1.142213,-0.657944,-0.205624,0.196151
2,0.309554,-1.399690,-1.399420,-1.650694,0.865627,-0.783481,-1.495746,-1.337847,-0.685214,1.133444,-0.200185,-1.001335,1.263245,0.015544,1.891172,0.351532
3,-0.792606,0.792963,1.581289,0.216467,-0.729707,-0.783481,-0.370046,-0.859778,1.636158,0.004169,-0.200185,0.970006,-0.291556,-1.237457,-0.877414,-0.773238
4,-0.979366,-0.303364,0.090935,-0.222865,0.253019,-0.783481,0.755655,0.215876,-0.685214,-0.772208,-0.200185,-0.161690,0.395965,1.487820,0.018305,0.146193

#Encoding Categorical Variables

In [ ]:
categ_col = House_Pricing_cleaned.select_dtypes(include=["object"]).columns
print(categ_col)

Index(['Date House was Sold', 'Waterfront View', 'No of Times Visited',
       'Condition of the House'],
      dtype='object')

In [ ]:
nume_col = House_Pricing_cleaned.select_dtypes(include = ["int64","float64"]).columns
print(nume_col)

Index(['ID', 'Sale Price', 'No of Bedrooms', 'No of Bathrooms',
       'Flat Area (in Sqft)', 'Lot Area (in Sqft)', 'No of Floors',
       'Overall Grade', 'Area of the House from Basement (in Sqft)',
       'Basement Area (in Sqft)', 'Age of House (in Years)', 'Renovated Year',
       'Zipcode', 'Latitude', 'Longitude',
       'Living Area after Renovation (in Sqft)',
       'Lot Area after Renovation (in Sqft)'],
      dtype='object')

In [ ]:
House_Pricing_encoded = pd.get_dummies(House_Pricing_cleaned,columns=categ_col,drop_first=True,dtype = int)
House_Pricing_encoded.head()

,ID,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),...,Date House was Sold_15 May 2016,Waterfront View_Yes,No of Times Visited_No,No of Times Visited_Once,No of Times Visited_Thrice,No of Times Visited_Twice,Condition of the House_Excellent,Condition of the House_Fair,Condition of the House_Good,Condition of the House_Okay
0,0.834573,221900.0,-0.303364,-1.399420,-1.007386,-0.522314,-0.783481,-0.370046,-0.637818,-0.685214,...,0,0,0,0,0,1,0,1,0,0
1,0.583876,538000.0,-0.303364,0.463524,1.173582,-0.014359,1.203577,-0.370046,1.052495,0.335170,...,0,0,0,0,0,1,0,1,0,0
2,0.309554,180000.0,-1.399690,-1.399420,-1.650694,0.865627,-0.783481,-1.495746,-1.337847,-0.685214,...,0,0,0,0,0,1,0,1,0,0
3,-0.792606,604000.0,0.792963,1.581289,0.216467,-0.729707,-0.783481,-0.370046,-0.859778,1.636158,...,0,0,0,0,0,1,1,0,0,0
4,-0.979366,510000.0,-0.303364,0.090935,-0.222865,0.253019,-0.783481,0.755655,0.215876,-0.685214,...,0,0,0,0,0,1,0,1,0,0

In [ ]:
from sklearn.preprocessing import LabelEncoder

ordinal_cols = []

if len(ordinal_cols) > 0:
    le = LabelEncoder()
    for col in ordinal_cols:
        House_Pricing_cleaned[col] = le.fit_transform(House_Pricing_cleaned[col])
    print("Label encoding applied on ordinal columns")
else:
    print("No ordinal categorical columns found. Label encoding not applied.")

No ordinal categorical columns found. Label encoding not applied.

#Train-Test Split

In [ ]:
from sklearn.model_selection import train_test_split

# 1. Set target variable
X = House_Pricing_cleaned.drop("Sale Price", axis=1)
y = House_Pricing_cleaned["Sale Price"]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (11688, 20)
X_test shape: (2923, 20)
y_train shape: (11688,)
y_test shape: (2923,)